@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;500&family=Poppins:wght@100;200;300;400;600;700&family=Roboto:wght@500;700&display=swap');

/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: black;
    background-color: #fff;
}
h1{
    font-size: 3rem;
    font-family: 'Gloock', serif;
}
a{
    text-decoration: none;
}

/* utility classes */

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: #ff0000;
}
/* .container{
    max-width: 1180px;
} */
.flex{
    display: flex;
    align-items: center;
}

.primary-button{
    background-color: #2294ed;
    border-radius: 6px;
    font-weight: 500;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px gray;
    transition: 0.2s ease-out;
    text-decoration: none;
}

.primary-button:hover{
    background-color: #1d69a3;
}

/*--------------------header----------------*/

.header{
    min-height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)) ,url(images/background.png); */
    background-image: url("https://static.vecteezy.com/system/resources/previews/012/716/323/original/video-games-banner-cyber-game-poster-on-red-background-vector.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 2px;
    
}

.main-nav{
    display: flex;
    justify-content: space-between;
}
.main-nav a{
    text-decoration: none;
    display: inline-block;
}
.company-logo img{
    padding-top: 10px;
    height: 100px;
    background-image: none;
}
.nav-links ul{
    justify-content: end;
    gap: 30px;
    list-style: none;
}
.nav-links ul a{
    color: #fff;
}

.hover-link:hover{
    color: #2294ed;
    transition: 0.2 ease-out;
}


/*------------------header text-area---------------------*/


.text-area{
    width: 90%;
    color: #fff;
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text-area h1{
    font-size: 62px;
}

.get-started-btn{
    margin-top: 30px;
    display: inline-block;
}
/*------------------header section---------------------*/

.about-section{
    padding-top: 5%;
    justify-content: center;
    gap: 40px;
    padding-bottom: 10%;
}
.about-left{
    max-width: 40vw;
}

.about-left h1{
    margin-top: 20px;
    padding-bottom: 3%;
}

/* .get-started-btn{
    margin-top: 20px;
} */
.about-right img{
    width: 700px;
    height: 500px;
}
/* ----------------------------About project----------------------------- */
.about-project h1{
    text-align: center;
}
.about-project img{
    padding: 3%;
}
.about-project{
    font-size: 1.25rem;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
}
.about-project p{
    padding-top: 2%;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box{
    width: 500px;
}
.box h2{
    text-align: center;
    font-size: 23px;
    font-weight: 700;
}
.box ul li{
    list-style: none;
    background: #fff;
    width: 100%;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 25px rgba(0,0,0,0.1);
    transition: transform 0.5s;
}
.box ul li:hover{
    transform: scale(1.1);
    background: rgb(1, 1, 53);
    box-shadow: 0 5px 25px rgba(0,0,0,0.2);
    color: #fff;
    opacity: 1;
}
.box ul li span{
    text-align: center;
    line-height: 20px;
    color: #000;
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    transform: translate(-20px);
}
.box ul li:hover span{
    color: #fff;
}


/* ------------focusing part------------------ */

.sub-col {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
}
.sub-col p{
    color: grey;
    font-family: 'Kalam', cursive;
}
.sub-col h3{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.row{
    margin-top: 5%; 
    display: flex;
    justify-content: space-between;
}
.focus-col{
    color: #fff;
    flex-basis: 31%;
    background: black;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.focus-col h2{
    padding-bottom: 5px;
    font-family: 'Gloock', serif;
}



/* -------------------fAq---------------------- */
.faq h1{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
}
/* .faq  p{
    color: grey;
    text-align: center;
    font-family: 'Kalam', cursive;
    padding-bottom: 5%;
} */
.faq-list ul{
    padding-left: 2%;
    text-decoration: none;
}
.faq-list li{
    padding-left: 10%;
    padding-bottom: 1%;
    list-style: none;
}



/* -------------------PLATFORM---------------------- */


.platform{
    padding-top: 40%;
}
.platform-p{
    font-size: 1.2em;
    padding-left: 10%;
    padding-right: 10%;
}
.platform-section{
    width: 600px;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    padding: 25px 30px;
    margin-left: 30%;
}
.platform-section .platform-bar{
    margin: 20px 0;    
}
.platform-section .platform-bar:first-child{
    margin-top: 0px;    
}
.platform-section .platform-bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
                0px 1px 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
.platform-bar .progress-line span{
    height: 100%;
    width: 80%;
    background: blueviolet;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left; 
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards           
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.progress-line.Wii span{
    width: 50%;
}
.progress-line.DS span{
    width: 98%;
}
.progress-line.X360 span{
    width: 59%;
}
.progress-line.PS3 span{
    width: 54%;
}
.progress-line.PS2 span{
    width: 97%;
}
.progress-line.PSP span{
    width: 44%;
}
    
.platform-bar .progress-line span::before{
    position: absolute;
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}
.platform-bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -22px;
    color: #fff;
    background: #000;
    font-size: 15px;
    padding: 1px 8px;
    opacity: 0;
    animation: showText2 0.5s 2.5s linear forwards;            
}
@keyframes showText2{
    100%{
        opacity: 1;
    }
}
.progress-line.Wii span::after{
    content: "1325";
}
.progress-line.DS span::after{
    content: "2163";
}
.progress-line.X360 span::after{
    content: "1265";
}
.progress-line.PS3 span::after{
    content: "1329";
}
.progress-line.PS2 span::after{
    content: "2161";
}
.progress-line.PSP span::after{
    content: "1213";
}
.platform-p{
    padding-top: 2%;
}


