<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>platform</title>

    <style>

        .sub-header{
          min-height: 80vh;
          width: 100%;
          background-image: url(/static/images/background2.jpg);
          background-position: center;
          background-size: cover;
          position: absolute;
        }
        .text-area p{
          font-size: 17px;
          color: #fff;
          text-align: center;
          font-family: 'Kalam', cursive;
        }
    </style>
</head>
<body>

    <section class="sub-header">
        <nav>
            <div class="container main-nav flex">
                <a href="#" class="company-logo"><img src="https://pluspng.com/img-png/png-video-game-open-2000.png"></a>
                <div class="nav-links">
                    <ul class="flex">
                        <li><a href="/" class="hover-link">HOME</a></li>
                        <li><a href="/overview" class="hover-link">OVERVIEW</a></li>
                        <li><a href="/sales" class="hover-link">GROWTH_SALES</a></li>
                        <li><a href="/Publisher" class="hover-link">PUBLISHERS</a></li>
                        <li><a href="/platform" class="hover-link">PLATFORM</a></li>
                        <li><a href="/summary" class="hover-link">SUMMARY</a></li>
                        <li><a href="/tool" class="hover-link">TOOLS</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="text-area">
          <h1>PLATFORM</h1>
          <p>Top 6 platform of the game </p>
        </div>
</section> 



<div class="platform">

    <div class="platform-section">
        <div class="platform-bar">
            <div class="platform-info">
                <span>Wii</span>
            </div>
            <div class="progress-line Wii"><span></span></div>
        </div>
        <div class="platform-bar">
            <div class="info">
                <span>DS</span>
            </div>
            <div class="progress-line DS"><span></span></div>
        </div>
        <div class="platform-bar">
            <div class="info">
                <span>X360</span>
            </div>
            <div class="progress-line X360"><span></span></div>
        </div>
        <div class="platform-bar">
            <div class="info">
                <span>PS3</span>
            </div>
            <div class="progress-line PS3"><span></span></div>
        </div>
        <div class="platform-bar">
            <div class="info">
                <span>PS2</span>
            </div>
            <div class="progress-line PS2"><span></span></div>
        </div>
        <div class="platform-bar">
            <div class="info">
                <span>PSP</span>
            </div>
            <div class="progress-line PSP"><span></span></div>
        </div>
    </div>
    <div class="platform-p">
        <p>The second release in the PlayStation franchise, <b>PS2</b> recorded most copies purchased with over <b>1.2 Billion</b>  copies, followed by Microsofts Xbox 360 in second place with over <b>900 Million</b> copies.</p>
    </div>
    <br>
    <br>
    <br>
</div>
</body>
</html>