<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Summary</title>

    <style>
      .sub-header{
          min-height: 80vh;
          width: 100%;
          background-image: url(/static/images/background2.jpg);
          background-position: center;
          background-size: cover;
          position: absolute;
        }
        .text-area {
          font-size: 17px;
          color: #fff;
          text-align: center;
          font-family: 'Kalam', cursive;
        }
        .summary-section {
          padding-top: 50%;
        }
        .summary-section ul{
          font-size: 1.15rem;
        }

        .summary-section ul ul {
          list-style-type: circle;
        }
        h5{
          font-family: sans-serif;
          font-size: 1.8rem; 
        }
    </style>

</head>

<body>

  <section class="sub-header">
    <nav>
        <div class="container main-nav flex">
            <a href="#" class="company-logo"><img src="https://pluspng.com/img-png/png-video-game-open-2000.png"></a>
            <div class="nav-links">
                <ul class="flex">
                    <li><a href="/" class="hover-link">HOME</a></li>
                    <li><a href="/overview" class="hover-link">OVERVIEW</a></li>
                    <li><a href="/sales" class="hover-link">GROWTH_SALES</a></li>
                    <li><a href="/Publisher" class="hover-link">PUBLISHERS</a></li>
                    <li><a href="/platform" class="hover-link">PLATFORM</a></li>
                    <li><a href="/summary" class="hover-link">SUMMARY</a></li>
                    <li><a href="/tool" class="hover-link">TOOL</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="text-area">
      <h1>SUMMARY</h1>
      <p>From everything above, what do we get?</p>
    </div>
</section> 


<div class="container">
    <div class="summary-section">
        <h5>What do we know more?</h5>
        <br>
        <br>
          <ul>
            <li>From the <a href="/platform" style="color: rgb(230, 15, 230);">Releases</a> section, we get to know that there're so many external factors that affect game releases in each year. Most effective factors are the releases of new  consoles and technological influence.
             </li>
              <li>From the <a href="/sales" style="color: rgb(230, 15, 230);">Growth-Sales</a> section, we get to know the importance of technology, which made gaming industry grown this far. We get to know that video game sales of each year are most affected from releases amount. Also, if we can make games that match the people's favor just right, that game might get unbelievable sale.
              </li>
              <li>From the <a href="/Publisher" style="color: rgb(230, 15, 230);">Publishers</a> section, we get to know the reason why top 16 video game publishers are able to dominate the market roughly 81.75%, while the other 562 publishers only own a total of 18.25% of all sales. The reason is their very own strength or highlight of their games.
            </li>

          <li>We've found out that we might be able to catagorize the gaming eras.
              <ul>
                <li><b>1980-1994</b> - In this period, gaming are not much popular. Technology isn't also that advanced, so not so many games and platforms.
                </li>
                <li><b>1995-2009</b> - In this period, gaming went boom. Many new consoles are released, following by tons of video  games.
                </li>
                <li><b>2009-Now</b> - In this period, smartphones and modern technology now have more influence to our lives. Developers now tend to release their game on mobile platforms instead. New gaming platform types are getting born, for example: hybrid type <i>(like Nintendo Switch)</i> or virtual reality <i>(VR)</i>.
                </li>
                </ul>
            </li>
            </ul><br>

            <h5>How do we apply them to our lifes?</h5>
            <br>
            <br>
            <ul>
            <li>If you're going to be a game developer, game designer or whatever. We now know many factors that affects the sale, so you should be planning carefully on making the game with these questions.
              <ul>
                <li>Which genre should we do?</li>
                <li>Which platform should we do it?</li>
                <li>When should it be released?</li>
                <li>What is the sale point or highlight of the game?</li>
                </ul>
            </li>
            <li>We get to know that it's important to learn about new technologies. The more you know, more chance you'll be able to succeed in this industry, like following news about techonologies or stay tuned to new gaming platform announcements.   
            </li>
            <li>From the <a href="/Publisher" style="color: rgb(230, 15, 230);">Publishers</a> section, we get to know about key to success. It's important for every video game publishers to have the strength or highlights of their own, just like you and everyone else. If you're able to master at something, there will be a high chance that you'll succeed. In the chart, every video game publishers have both bad-selling games and good-selling games. This tells us that no one always succeed every attempts. That makes not giving up to be one of the keys to success.</li>
            </ul>
          </div>
          <br>
          <br>
          <br>
        </div>
</body>
</html>